<!DOCTYPE html>
<html>
  <head>
  	<title>ProSet</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">

  	<link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <h2>Welcome to ProSet!</h2>
    <canvas id="card0" class="card span3"></canvas>
    <canvas id="card1" class="card span3"></canvas>
    <canvas id="card2" class="card span3"></canvas>
    <canvas id="card3" class="card span3"></canvas>
    <canvas id="card4" class="card span3"></canvas>
    <canvas id="card5" class="card span3"></canvas>
    <canvas id="card6" class="card span3"></canvas>
    <button id="submit" class="btn">Submit</button>
    <button id="newgame" class="btn">New Game</button>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="js/deck.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/game.js"></script>
  </body>
</html>
