<!DOCTYPE html>
<html>
  <head>
  	<title>ProSet</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">
  	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <h2>Welcome to ProSet!</h2>

    <canvas id="card0"></canvas>
    <canvas id="card1"></canvas>
    <canvas id="card2"></canvas>
    <canvas id="card3"></canvas>
    <canvas id="card4"></canvas>
    <canvas id="card5"></canvas>
    <canvas id="card6"></canvas>

    <div id="toolbar">
      <button id="submit">Submit</button>
      <button>New Game</button>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="js/deck.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/game.js"></script>
  </body>
</html>
