<!DOCTYPE html>
<html>
  <head>
  	<title>ProSet</title>

  	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <h2>Welcome to ProSet!</h2>
  	<canvas id="canvas" width="600" height="600">
      Sorry, you either have javascript disabled or are using an outdated browser.
      Site tested and confirmed working with latest Mozilla Firefox and Google Chrome. 
    </canvas>
    <div id="toolbar">
      <button id="submit">Submit</button>
      <button>New Game</button>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="js/deck.js"></script>
    <script src="js/ui.js"></script>
  </body>
</html>
